[submodule "3rd-party/Catch"]
	path = 3rd-party/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "3rd-party/args"]
	path = 3rd-party/args
	url = https://github.com/Taywee/args.git
[submodule "3rd-party/yaml-cpp"]
	path = 3rd-party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "3rd-party/json"]
	path = 3rd-party/json
	url = https://github.com/nlohmann/json.git
